
    body {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      line-height: 1.6;
     }
     .custom-header {
       background: #009933;
       color: #fff;
       border-radius: 0 !important;
       margin-bottom: 0;
       padding-left: 2rem;
       padding-right: 2rem;
     }
 
     .custom-header a {
       color: #fff;
       font-size: 11px;
       display: block;
     }

     .iise, .tif, .sap {
      display: flex;
  }

  .logos.second {
    width: 44%;
    padding-right: 3%;
}

.logos.first {
  width: 38%;
    padding-right: 2%;
}


 
     .navbar-header > div {
       display: flex;
       align-items: center;
      
     }
 
     .main-title {
       text-align: center;
     }
 
     .main-title h4 {
       font-size: 24px;
       font-weight: bold;
     }
 
     .navbar-header {
       font-size: 12px;
       padding: 5px 0;
       display: flex;
     }
 
     .right-top {
         padding: 8px 16px 0px 16px;
         margin-right: 0;
     border-bottom: 1px solid #ccc;
     box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2196078431372549);
     }
 
     .right-top label{
         font-size: 16px;
     font-weight: normal;
     }
     .vsplitbar {
       width:6px;
       background: #ccc;
     }
 
     .splitter-container {
       height: 85.1vh;
       overflow: hidden;
     }
 
     .left-pane,
     .right-pane {
       background: #fff;
       padding-right: 0;
     }
 
     .left-pane {
       /* padding-right: 0; */
     }
 
     .right-pane {
     }
 
     .status-bar {
         border: 1px solid #009933;
     border-radius: 6px;
     padding: 3px 5px;
     margin-left: 20px;
     font-size: 12px;
     }
     .scroll {
         height: 78vh;
         overflow: auto;
         padding: 0 2rem 0 3rem;
         border-bottom: 1px solid #ccc;
     }
 
     .run-btn-cnt {
       padding: 5px 15px;
     }
 
     .scroll .form-group {
       margin-right:0 !important ;
     }
 
     .form-group div.col-sm-4 {
         padding-right: 0;
     }
 
     .sim-lane {
       padding-top: 10px;
       height: 79vh;
       text-align: center;
       overflow: auto;
     }
 
     .custom-card {
       display: inline-block;
       box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
     border: 1px solid #ccc;
     margin: 10px;
     background: #fff;
     border-radius: 8px;
     padding: 10px;
     }
 
     .pane-header h2 {
       margin: 0;
       text-align: left;
       font-size: 15px;
       border-bottom: 1px solid #333;
       padding: 0;
       margin-bottom: 15px;
       padding-bottom: 10px;
     }
 
     .custom-loader {
      width: 45%;
     text-align: center;
     margin: 25vh auto;
     font-size: 16px;
     color: #666;
     }
 
     .custom-loader span {
         display: block;
     font-size: 5rem;
     }
 
     .btn-stop {
     background-color: #fff;
     color: #009933;
     border-color: #009933;
     }
 
     .btn-stop:hover {
         background-color:#009933;
         color:#fff;
         border-color: #009933;
         }
 
      /* Priyanka css*/
      .section-title {
         margin-top: 16px;
         margin-bottom: 4px;
         font-size: 18px;
       }
       
       .form-label{
         font-size: 14px;
         font-weight: normal!important
       }
       .line-separator {
         border-top: 1px solid #cccccc;
         margin-top: 0;
         margin-bottom: 16px;
     }
       .container-margin{
         margin-left: 3rem;
         margin-right: 2rem;
       }
 
       .abt-parent {
         margin: 10px 0;
         background: #e6e6e6;
         border-radius: 5px;
         padding: 2px 10px;
       }
 
       .abt-parent .abt-toggle {
        width: 100%;
        text-align: left;
        padding: 0;
        display: block;
        text-decoration: none;
        color: #333;
        font-size: 18px;
       }
 
       .abt-parent .abt-dec {
        border-top: 1px solid #999;
        padding-top: 10px;
        font-size: 16px;
     
       }

       .footer {
         background-color:#009933;
         padding: 0 3rem;
       }
       .tool-dec {
        font-size: 12px;
    }
       .mobile .custom-header{
        padding: 5px 0;
       }

       .mobile .left-pane, .mobile .right-pane {
         padding: 0 5px;
         overflow: auto;
       }

       .mobile .left-pane {
        overflow-x: hidden !important;
       }

       .mobile .scroll, .mobile .sim-lane {
        padding: 0 1rem;
        height: auto;
       }
       .mobile .navbar-header {
        text-align: center;
        justify-content: center;
        display: block;
       }


       .mobile .main-title h4 {
        font-size: 20px;
        padding: 0;
        margin: 0;
       }

       .mobile ul.tabs {
        display: flex;
        list-style: none;
        margin: 10px 0 0 0;
    }

    .mobile .tabs li {
      margin: 0 10px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      width: 50%;
      text-align: center;
  }

  .mobile .tabs li.active {
    border-bottom: 4px solid #fff;
  }

  .content-mobile {
    overflow: hidden;
  }

  .mobile .row.sticky-footer {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.mobile .right-top {
  padding: 5px;
}

.mobile .custom-header a {
  padding-right: 5px;
  display: initial !important;
}


input[type='radio'] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  border: 2px solid gray;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background:#009933;
  
}

input[type="radio"]:checked {
border-color:#009933;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}